.watchlist-media-container {
    margin: 1em;
}

.watchlist-button-selected:hover {
    background-color: black;
    color: white;
}

.watchlist-button-selected {
    background-color: blue;
    color: white;
}

.watchlist-items {
}

.watchlist-item {

}

.watchlist-item a {
}