nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em;

}

.icon {
    padding: 0 1em 0 1em;
}

.icon a {
    border: 2px solid black;
    border-radius: 1em;
    padding: 10px;
    font-size: 30px;
    font-family: fantasy;
    text-decoration: none;
}

.buttons, .user {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.login a, .register a, .logout a {
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
    border: 1px solid black;
    background-color: blue;
    color: white;
    border-radius: 5px;
}

.login a:hover, .register a:hover, .lgoout a {
    background-color: rgb(78, 78, 201);
}

.search-bar {

}

.search-bar input[type=search] {
    padding: 0.25em;
    margin-right: 0.25em;
}

.search-bar input[type=submit] {
    padding: 0.25em;
    background-color: aqua;
    font-weight: 600;
}
